<div class="container a_exercicios">
    <div class="row">
        <div class="col">
            <a href="/exercicio01">
                <img src="assets/images/image 3.png">
            </a>
        </div>

        <div class="col">
            <a href="/exercicio02">
            <img src="assets/images/image 2.png"></a>
        </div>

        <div class="col">
            <a href="/exercicio03">
            <img src="assets/images/image 4.png"></a>
        </div>

        <div class="col">
            <a href="/exercicio04">
            <img src="assets/images/image 5.png"></a>
        </div>

    </div>
</div>