<section>
    <div class="container a_home">
    <div class="row justify-content-around">
        <div class="col-7 border-right">
            <h1>Bem vindo (funcionário)</h1>
            <h1>Lista equipe</h1>
            <p>Selecione  a pessoa à quem você quer enviar o desafio</p>
            <p class="text-right"><button type="button" class="btn btn-warning" (click)="enviar()" style="color: white; font-weight: bold;">Enviar</button></p>
            <div class="container a_home_imgs">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/img1.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img2.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img3.png">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <img src="assets/images/img4.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img5.png">
                    </div>

                    <div class="col">
                        <img src="assets/images/img6.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h1>Lista atividades</h1>
            <p>Selecione  o desafio à ser enviado</p>
            <ul class="a_ul">
                <li><a class="list-group-item-action">Beber um copo de água</a></li>
                <li><a class="list-group-item-action">Alongar braços</a></li>
                <li><a class="list-group-item-action">Alongar pernas</a></li>
                <li><a class="list-group-item-action">Alongar o pescoço</a></li>
                <li><a class="list-group-item-action">Dar 5 pulinhos</a></li>
                <li><a class="list-group-item-action">Fazer 5 polichinelos</a></li>
            </ul>
        </div>
    </div>
</div>
</section>