/* You can add global styles to this file, and also import other style files */


body{
    font-family: rgb(22, 22, 22);
    background-image: linear-gradient(#00DCFA 35%, #273AA0);
}

header{
    color: #000;
    background-image: linear-gradient(90deg, #000 5%, #ff8000 35%, rgb(255, 182, 73), #000);
    margin-bottom: 1rem;
    box-shadow: 0px 2px 10px rgb(100, 100, 100);
}

main{
    min-height: calc(100vh - 117px);
}

footer{
    color: #000;
    background-color: white;
    box-shadow: 0px -2px 10px rgb(100, 100, 100);
}

