<div class="container">
    <div class="row text-center">
        <div class="col">
            <img src="assets/images/image 4.png">
            <p></p>
        </div>
        <div class="col">
            <p class="a_tempo">TEMPO</p>
            <hr/>
            <img src="assets/images/image 16.png">
            <p class="a_tempo_num">{{this.counter}}</p>
            <button type="button" class="btn btn-warning a_exercicio01_botao" (click)=iniciar() style="color: white; font-weight: bold;">{{this.botao}}</button>
            <button *ngIf="bts" type="button" class="btn btn-warning a_exercicio01_botao" (click)=finalizado() style="color: white; font-weight: bold;">Finalizado</button>
        </div>
    </div>
</div>