.a_tempo{
    font-size: 45px;
    font-weight: bold;
}
.a_tempo_num{
    font-size: 100px;
    font-weight: bold;
}
.a_ex_txt{
    font-size: 25px;
    margin-top: 50px;
}
.a_exercicio01_botao{
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px;
}